@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2>Application Insights Demo</h2>
    <p>This ASP.NET MVC web application, written in .NET Core 1.0.0-preview2-003131, is designed to create events that can be viewed through Application Insights.</p>
</div>
